@model string
@{
    ViewData["Title"] = "Lỗi";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-danger">@ViewData["Title"]</h2>

        <section>
            <h4 class="text-danger">@Model</h4>
        </section>
    </div>
</div>