body { padding-top: 50px; }
/* CSS Document */
p {
    color: #005F9B;
}

p, small {
    color: #005F9B;
}



a {
    color: #0000FF;
    text-decoration: none;
}


/* Navbar Header */
.navbar-inverse {
    background-color: #003057;
}

.bg-deepblue {
    background-color: #003057;
}

.bg-teal {
    background-color: #D3D3D3;
}

.bg-lightgrey {
    background-color: #D3D3D3;
}

.bg-info {
    background-color: #0077BB;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.nav li a {
    /*height: 78px;*/
    /*text-align: center;*/
    /*	line-height: 50px;*/
    color: #0000FF;
}

/*.nav-tabs .show.nav-item .nav-link, .nav-tabs .active.nav-link {
   text-decoration:;
    background-color: #808285;
        border-bottom:7px solid #0077BB ;
}*/

.nav li:hover {
    background-color: #009E8C;
}

.nav-tabs {
    background-color: #D3D3D3;
    border-bottom: hidden;
}

.nav-pills {
    background-color: #D3D3D3;
    border-bottom: hidden;
}

.tab-content {
    background-color: #808285;
    border-bottom: 1px solid #0077BB;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    /*padding-right: 25px;*/
    /*min-height: 440px*/
}

.tab-pane {
    font-size: large;
}

.nav-tabs > li > a {
    border: medium none;
}

    .nav-tabs > li > a:hover {
        background-color: #009E8C;
        border: medium none;
        border-radius: 0;
        color: #005F9B;
        font-weight: bold;
    }


.nav-pills > li > a:hover {
    background-color: #009E8C;
    border: medium none;
    border-radius: 0;
    color: #005F9B;
    font-weight: normal;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #FFFFFF;
    background-color: #808285;
    border-bottom: 5px solid #0077BB;
    font-weight: bold;
}

    .navbar-inverse > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #FFFFFF;
        background-color: #808285;
        border-bottom: 5px solid #0077BB;
        font-weight: bold;
    }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FFFFFF;
    background-color: #808285;
    border-bottom: 5px solid #0077BB;
    font-weight: bold;
}

/* End Navbar Header */



.btn-default {
    display: block;
    margin: auto;
    width: 120px;
}




#rcorners1 {
    border-radius: 25px;
    background: #D3D3D3;
    padding-bottom: 15px;
    color: #0077BC;
}

    #rcorners1 small {
        border-radius: 25px;
        background: #D3D3D3;
        padding-bottom: 15px;
        color: #0077BC;
    }

.vcenter {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}


/* footer*/

.footer {
    background: #21313F;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

    .footer h3 {
        border-bottom: 1px solid #BAC1C8;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        padding: 40px 0 10px;
        text-transform: uppercase;
    }

    .footer ul {
        font-size: 13px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        margin-top: 15px;
        color: #F5F5F5;
    }

        .footer ul li a {
            padding: 0 0 5px 0;
            display: block;
        }

    .footer a {
        color: #F5F5F5
    }

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .footer-bottom p.pull-left {
        padding-top: 6px;
    }
