@using RiceDoctor.RuleManager
@model RiceDoctor.WebApp.Models.Advisory
@{
    var problems = (IReadOnlyList<Problem>) ViewData["Problems"];
    ViewData["Title"] = "Tư vấn/Chuẩn đoán";
}

<div class="row">
    <div class="col-md-12">
        <h2>Tư vấn/Chuẩn đoán</h2>

        <h4>Bài toán</h4>
        <form asp-controller="Advisory" asp-action="SelectProblem" method="post">
            <input type="hidden" name="guid" value="@Model.Guid"/>
            <div class="form-group">
                <label class="col-sm-3 control-label">Bài toán</label>
                <div class="col-sm-9">
                    @if (problems != null)
                    {
                        for (var i = 0; i < problems.Count; ++i)
                        {
                            <div class="radio">
                                <label>
                                    <input type="radio" name="problemId" value="@i">@problems[i].Type
                                </label>
                            </div>
                        }
                    }
                    <div class="radio">
                        <label>
                            <input type="radio" name="problemId" value="-1">Tổng quát
                        </label>
                    </div>
                    <p>Nếu chọn tổng quát, nêu dạng kết quả muốn tìm kiếm VD : Bênh, Sâu Bệnh:</p>
                    <textarea class="form-control" rows="2" name="outputs" placeholder="Benh&#10;SauBenh"></textarea>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Nhập vào các biểu hiện của cây lúa </label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="4" name="inputs" placeholder="Benh=BenhVangLa&#10;MauLa=LaVang"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Số kết quả cần tìm chọn -1 nếu muốn tìm tất cả kết quả</label>
                <div class="col-sm-9">
                    <input type="number" name="totalGoals" placeholder="tìm tất cả thì để trống"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Xử lý"/>
                </div>
            </div>
        </form>
    </div>
</div>