@using RiceDoctor.RuleManager
@{
    var completeResult = (List<KeyValuePair<Fact, double>>) ViewData["CompleteResults"];
    var incompleteResult = (List<KeyValuePair<Fact, double>>) ViewData["IncompleteResults"];

    ViewData["Title"] = "Tư vấn/Chuẩn đoán";
    ViewData["AdvisoryPage"] = true;
}

<div class="row">
    <div class="col-md-12">
        @if (completeResult != null || incompleteResult != null)
        {
            List<KeyValuePair<Fact, double>> result;
            if (completeResult != null)
            {
                result = completeResult;
                <h2>Chuẩn đoán thành công</h2>
            }
            else
            {
                result = incompleteResult;
                <h2>Chuẩn đoán thành công</h2>
            }

            <div id="chartContainer"></div>

@section Scripts {
    <script>
        Highcharts.chart('chartContainer',
            {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    fontFamily: 'Arial',
                    type: 'pie'
                },
                title: {
                    text: 'Kết quả chuẩn đoán'
                },
                tooltip: {
                    pointFormat:
                        @if (result.Count == 1)
                        {
                            @:'<b>{point.y:.2f}</b>'
                        }
                        else
                        {
                            @:'<b>{point.percentage:.1f}%</b>'
                        }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y:.2f}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                            }
                        },
                        events: {
                            click: function(event) {
                                window.location.href = "@Context.Request.GetBaseUrl()" +
                                    "Ontology/Individual?individualName=" +
                                    event.point.nameId;
                            }
                        }
                    }
                },
                series: [
                    {
                        name: '',
                        colorByPoint: true,
                        data: [
                            @for (var i = 0; i < result.Count; ++i)
                            {
                                @:{
                                @:name: '@Html.Raw(result[i].Key.ToLabelString())',
                                @:nameId: '@Html.Raw(result[i].Key.Value)',
                                @:y: @result[i].Value,
                                if (i == 0 && result.Count > 1)
                                {
                                    @:sliced: true, selected: true
                                }
                                @:},
                            }
                        ]
                    }
                ]
            });
    </script>
}
            <hr/>
        }
        else
        {
            <h2>Chuẩn đoán không thành công</h2>
        }
    </div>
</div>