@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
@{
    var showOntologyPage = ViewData["OntologyPage"] != null && (bool) ViewData["OntologyPage"];
    var showAdvisoryPage = ViewData["AdvisoryPage"] != null && (bool) ViewData["AdvisoryPage"];
    var showAboutPage = ViewData["AboutPage"] != null && (bool) ViewData["AboutPage"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Rice Doctor</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Rice Doctor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li
                    @if (showOntologyPage)
                    {
                        @:class="navbar-nav-active"
                    }>
                    <a asp-controller="Ontology" asp-action="Index">Ontology</a>
                </li>
                <li
                    @if (showAdvisoryPage)
                    {
                        @:class="navbar-nav-active"
                    }>
                    <a asp-controller="Advisory" asp-action="Index">Tư vấn</a>
                </li>
                <li
                    @if (showAboutPage)
                    {
                        @:class="navbar-nav-active"
                    }>
                    <a asp-controller="Home" asp-action="About">Giới thiệu</a>

                </li>
            </ul>

            <div class="input-group navbar-form navbar-right">
                <form asp-controller="Search" asp-action="Index" method="get">
                    <input type="text" class="form-control" name="keywords" placeholder="Câu truy vấn...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Tra cứu</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
    <footer>
        <div class="footer" id="footer">
            <div class="row" style="padding-left: 20px">
                <div class="col-md-4">
                    <h3>Sinh viên</h3>
                    <ul>
                        <li>
                            <a href="mailto:13520638@gm.uit.edu.vn">Nguyễn Minh Phúc 13520638@gm.uit.edu.vn</a>
                        </li>
                        <li>
                            <a href="mailto:13520489@gm.uit.edu.vn">Lê Thị Tuyết Mai 13520489@gm.uit.edu.vn</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Giảng viên hướng dẫn</h3>
                    <ul>
                        <li>
                            <a href="mailto:thuonghtt@uit.edu.vn">Ths Huỳnh Thị Thanh Thương thuonghtt@uit.edu.vn</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Trường</h3>
                    <ul>
                        <li>
                            <a href="https://www.uit.edu.vn/">Đại Học Công Nghệ Thông Tin</a>
                        </li>
                        <li>
                            <address>
                                Khu phố 6, P. Linh Trung
                                Quận Thủ Đức, Tp. Hồ Chí Minh
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.footer-->
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> &copy; 2017 - Rice Doctor</p>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", false)
</body>
</html>