@model RiceDoctor.OntologyManager.Individual
@{
    var article = (string) ViewData["Article"];
    ViewData["Title"] = "Bài viết về " + Model;
    ViewData["OntologyPage"] = true;
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation">
                <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@Model.Id">Thông tin dạng tóm tắt</a>
            </li>
            <li role="presentation" class="active">
                <a asp-controller="Ontology" asp-action="Article" asp-route-individualName="@Model.Id">Thông tin dạng bài viết</a>
            </li>
        </ul>

        <h2>
            <span class="glyphicon glyphicon-info-sign"></span>
            @ViewData["Title"]
        </h2>

        <section>
            @Html.Raw(article)
        </section>
    </div>
</div>