@{
    ViewData["Title"] = "Ontology";
    ViewData["OntologyPage"] = true;
}

<div class="page-header">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <div id="tree"></div>
    </div>
    <div class="col-md-9">
        <section>
            <p class="lead">Tri thức về lĩnh vực lúa nước miền Trung</p>
            <p>
                Biểu tượng <span class="glyphicon glyphicon-copyright-mark"></span> đại diện cho lớp.
            </p>
            <p>
                Biểu tượng <span class="glyphicon glyphicon-registration-mark"></span> đại diện cho quan hệ.
            </p>
            <p>
                Biểu tượng <span class="glyphicon glyphicon-font"></span> đại diện cho thuộc tính.
            </p>
            <p>
                Biểu tượng <span class="glyphicon glyphicon-info-sign"></span> đại diện cho thể hiện.
            </p>
        </section>
    </div>
</div>

@section Scripts {
    <script>
        var data = [
            {
                text: 'Lớp và <span class="glyphicon glyphicon-info-sign"></span> Thể hiện',
                icon: 'glyphicon glyphicon-copyright-mark',
                href: '@Url.Action("Class", "Ontology")'
            },
            {
                text: 'Quan hệ',
                icon: 'glyphicon glyphicon-registration-mark',
                href: '@Url.Action("Relation", "Ontology")'
            },
            {
                text: 'Thuộc tính',
                icon: 'glyphicon glyphicon-font',
                href: '@Url.Action("Attribute", "Ontology")'
            }
        ];

        $('#tree').treeview({
            color: '#428bca',
            showBorder: false,
            enableLinks: true,
            data: data
        });
    </script>
}