@{
    ViewData["Title"] = "Ontology";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Ontology</h2>
            <p class="lead">Tri thức về lĩnh vực lúa nước miền Trung... blah blah blah</p>
        </div>

        <h4>Thành phần Ontology</h4>
        <ul>
            <li>
                <a asp-controller="Ontology" asp-action="Class">Lớp</a>
            </li>
            <li>
                <a asp-controller="Ontology" asp-action="Relation">Quan hệ</a>
            </li>
            <li>
                <a asp-controller="Ontology" asp-action="Attribute">Thuộc tính</a>
            </li>
            <li>
                <a asp-controller="Ontology" asp-action="Individual">Thể hiện</a>
            </li>
        </ul>
    </div>
</div>