@{
    ViewData["Title"] = "Ontology";
}

<div class="row">
    <div class="col-md-4">
        <h4>Thành phần Ontology</h4>

        <ul>
            <li>
                <a asp-controller="Ontology" asp-action="Class">Lớp</a>
            </li>
            <li>
                <a asp-controller="Ontology" asp-action="Relation">Quan hệ</a>
            </li>
            <li>
                <a asp-controller="Ontology" asp-action="Attribute">Thuộc tính</a>
            </li>
            <li>
                <a asp-controller="Ontology" asp-action="Individual">Thể hiện</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Ontology</h2>

        <p>Tri thức về lĩnh vực lúa nước miền Trung...</p>
    </div>
</div>