@model IReadOnlyCollection<RiceDoctor.OntologyManager.Individual>
@{
    var keywords = (string) ViewData["Keywords"];
    ViewData["Title"] = "Tra cứu " + keywords;
}

<div class="row">
    <div class="col-md-12">
        <h2>Tra cứu "@keywords"</h2>

        @if (Model == null)
        {
            <h4>Không tìm thấy thể hiện có chứa từ khóa</h4>

            <p>
                Tìm kiếm trên internet với <a href="http://lmgtfy.com/?q=@keywords">Google</a>.
            </p>
        }
        else
        {
            <h4>Tìm thấy @Model.Count thể hiện có chứa từ khóa</h4>

            <ol>
                @foreach (var searchIndividual in Model)
                {
                    <li>
                        <a asp-controller="Ontology" asp-action="Individual" asp-route-individualName="@searchIndividual.Id">@searchIndividual</a>
                    </li>
                }
            </ol>
        }
    </div>
</div>